<!-- start custom head snippets -->
<meta name="google-site-verification" content="9TziNJIUX9LRdk8HC3PasCrrbbcHgf35Ncb2uFh_AHc" />
<meta name="naver-site-verification" content="4155aee4bda105c22a2d0867b45c3a3c5ac34e2c" />
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- iOS 홈 화면 이름(추가 경고 해결용) -->
<meta name="apple-mobile-web-app-title" content="당신의 사이트명">

<!-- Favicon (캐시버스터 포함) -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/willow-blog-favicon/favicon-32x32.png?v=2' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/willow-blog-favicon/favicon-16x16.png?v=2' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/willow-blog-favicon/favicon-96x96.png?v=2' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/willow-blog-favicon/favicon.svg?v=2' | relative_url }}">
<link rel="shortcut icon" href="{{ '/willow-blog-favicon/favicon.ico?v=2' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/willow-blog-favicon/apple-touch-icon.png?v=2' | relative_url }}">
<link rel="manifest" href="{{ '/willow-blog-favicon/site.webmanifest?v=2' | relative_url }}">

<!-- (선택) 사파리 핀 탭 -->
<link rel="mask-icon" href="{{ '/willow-blog-favicon/safari-pinned-tab.svg?v=2' | relative_url }}" color="#5bbad5">

<!-- end custom head snippets -->
