<section id={{include.cat.name|downcase}} class="taxonomy__section">
<h2 class="archive__subtitle"><a href="{{include.cat.url | downcase}}">{{ include.cat.title }}</a></h2>
{% assign posts = site.categories[include.cat.name] %}{% if posts != nill %}{% assign posts = posts | sort: "sort_key" | reverse %}{% endif %}
{% for post in posts %} {% include archive-single.html type=page.entries_layout %} {% endfor %}
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
